body{
    text-align: center;
    background-color: grey;
}
h1{
    color: white;
    font-size: 100px;
}
img{
    border-radius: 60px;
    width: 1500px;
}
h3{
    color: white;
    font-size: 40px;
}
h2{
    color: white;
    font-size: 80px;
}